* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  max-width: 1440px;
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
}
.header-container, .section-welcome, .section-service, .section-contact-us{
  background-color: #EDF2EC;
}
.section-about-us, .section-prices, .section-footer{
  background-color: #ffffff;
}
.section{
  padding: 0 110px;
  display: flex;
  flex-direction: row;
}

/* Header section */

.header-container{
  height: 134px;
  font-family: 'Inika', serif;
  font-size: 16px;
  padding-top: 42px;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  height: 50px;
  padding: 0 110px;
  /* max-width: 1220px;
  margin: 0 auto; */
}
.nav-logo a{
  text-decoration: none;
}
.nav-logo a:visited{
  color: #000000;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  max-width: 491px;
  width: 100%;
}
.nav-item {
  list-style: none;
}
.nav-item a{
  color: #010201;
  text-decoration: none;
}
.nav-item a:hover{
  text-decoration: underline;
}
.nav-item.selected a{
  color: #E06733;
}
.nav-item.selected a:hover{
  text-decoration: none;
}

/* Welcome section */

.section-welcome{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 532px;
  align-items: center;
}
.section-welcome-heading{
  margin-top: 5px;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}
.section-welcome-heading .colored{
  color: #499A18;
}
.section-welcome-image{
  background-image: url('../assets/leafs.png');
  background-repeat: no-repeat;
  min-width: 462px;
  height: 424px;
}
.section-welcome-text {
  max-width: 549px;
}
.section-welcome-description{
  color: #636060;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 48px;
  margin-top: 42px;
}
.welcome-button {
  padding: 0 27px;
  border-radius: 10px;
  font-size: 16px;
  border: 2px solid #E06733;
  height: 44px;
  cursor: pointer;
  background-color: #EDF2EC;
}
.welcome-button:hover{
  color: #ffffff;
  background-color: #E06733;
}

/* About section */

.section-about-us{
  min-height: 666px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section-about-us-heading{
  font-family: 'Inika', serif;
  font-size: 40px;
  font-weight: normal;
  color: #499A18;
  max-width: 463px;
  margin-bottom: 40px;
  line-height: 50px;
}
.section-about-us-heading .colored{
  color: #E06733;
}
.section-about-us-description{
  color: #636060;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
}
.section-about-us-text{
  max-width: 605px;
}
.section-about-us-image{
  background-image: url('../assets/houseplant-1.png');
  background-repeat: no-repeat;
  min-width: 464px;
  height: 479px;
}

/* Service section */

.section-service {
  display: flex;
  flex-direction: column;
  padding-bottom: 66px;
}
.section-service-upper-content{
  max-width: 1007px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 80px;
}
.service-upper-content-heading{
  font-family: 'Inika', serif;
  font-size: 40px;
  font-weight: normal;
  color: #499A18;
  max-width: 306px;
  margin: 0 142px 0 0;
  line-height: 52px;
}
.service-upper-content-buttons{
  width: 559px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}
.service-button{
  font-family: 'Inika', serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 26px;
  color: #E06733;
  width: 161px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: #EDF2EC;
  cursor: pointer;
  padding-right: 10px;
  margin-right: 5px;
}
.service-button:last-child{
  margin-right: 0;
}
.service-button:hover{
  color: #ffffff;
  background-color: #E06733;
}
.service-item{
  width: 330px;
  margin-bottom: 55px;
}
.service-item-image{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 350px;
}
.service-item-image.image-1{
  background-image: url(../assets/img-1.png);
}
.service-item-image.image-2{
  background-image: url(../assets/img-2.png);
}
.service-item-image.image-3{
  background-image: url(../assets/img-3.png);
}
.service-item-image.image-4{
  background-image: url(../assets/img-4.png);
}
.service-item-image.image-5{
  background-image: url(../assets/img-5.png);
}
.service-item-image.image-6{
  background-image: url(../assets/img-6.png);
}
.service-item-heading{
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #E06733;
  margin: 8px 0;
}
.service-item-description{
  border: 1px solid #E3E1D5;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
  height: 100px;
}
.service-item-description-text{
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}
.section-service-lower-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

/* Price section */

.section-prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 560px;
  padding-top: 40px;
}
.section-prices-heading{
  font-size: 40px;
  line-height: 48px;
  margin-top: 0;
}
.section-prices-heading .colored{
  color: #499A18;
}
.section-prices-right-block{
  text-align: right;
}
.section-prices-right-block .section-prices-heading{
  max-width: 452px;
  line-height: 50px;
  margin-bottom: 38px;
}
.section-prices-left-block .section-prices-heading{
  margin-bottom: 60px;
}
.section-prices-image{
  background-image: url('../assets/leafs-2.png');
  background-position: right;
  background-repeat: no-repeat;
  min-width: 152px;
  height: 175px;
}
.contact-us-button{
  font-family: 'Inika', serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  color: #E06733;
  width: 162px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  margin-bottom: 39px;
}
.contact-us-button:hover{
  color: #ffffff;
  background-color: #E06733;
}

/* Accordion */

.section-prices-accordeon{
  max-width: 332px;
  padding: 30px 40px 30px 40px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  margin-bottom: 40px;
}
#accordion input {
	display: none;
}
#accordion label {
	background-color: #EDF2EC;
	border-radius: 20px;
	cursor: pointer;
	display: block;
	margin-bottom: 32px;
	padding: 16px 40px;
	z-index: 20;
  font-weight: bold;
  font-size: 20px;
  line-height: 19px;
}
#accordion > div:last-child > label{
	margin-bottom: 0px;
}
#accordion label:before {
  content: url(../assets/accordion_btn.svg);
  width: 16px;
  height: 16px;
  margin-top: 1.5px;
  float: right;
}
#accordion label:hover {
	background: #D6E7D2;
}
#accordion input:checked + label {
	background: #D6E7D2;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	margin-bottom: 0;
}
#accordion article {
	background: #D6E7D2;
	height:0px;
	overflow:hidden;
	z-index:10;
}
#accordion article button {
  margin: 0 40px;
}
#accordion input:checked ~ article {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	height: auto;
	margin-bottom: 32px;
  padding-bottom: 12px;
}

#accordion > div:nth-child(3) > article{
  margin-bottom: 0;
}

#accordion input:checked + label:before {
  /* transition: transform .35s;
  transform: rotate(180deg); */
  content: url(../assets/accordion_btn-2.svg);
}

.option-description{
  margin: 0 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-top: 0.5px solid #AEA1A1;
  font-size: 10px;
  line-height: 10px;
  color: #717171;
}
.option-price{
  margin: 0 40px;
  padding: 6px 0 12px 0;
}
.option-price .colored{
  font-size: 16px;
  font-weight: bold;
  color: #E06733;
}
.order-button{
  width: 86px;
  height: 25px;
  background-color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: #717171;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.order-button:hover{
  background-color: #717171;
  color: #FFFFFF;
}

/* Contact us section */

.section-contact-us{
  display: flex;
  min-height: 550px;
  justify-content: space-between;
}
.section-heading-contact-us{
  font-family: 'Inika', serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
  color: #499A18;
  margin-top: 58px;
  order: 2;
}
.section-contact-us-image{
  width: 445px;
  height: 497px;
  background-image: url(../assets/contact_woman.png);
  background-repeat: no-repeat;
  order: 1;
  align-self: end;
}
.section-contact-us-right-block{
  order: 3;
}

/* Dropdown menu */

.city-select{
  width: 450px;
  height: 50px;
  margin-top: 145px;
  background-color: #D6E7D2;
  color: #717171;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-align: left;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5px 35px 5px 20px;
  cursor: pointer;
}
.city-select:before {
  content: url(../assets/accordion_btn-2.svg);
  transform: rotate(180deg);
  float: right;
}
.city-select:hover{
  background-color: #C1E698;
}
.dropdown-content{
  display: none;
}

/* Selected adress */

.contact-us-adress{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 47px;
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 17px 33px 32px 33px;
  font-size: 16px;
  line-height: 40px;
}
.contact-us-row{
  display: flex;
}
.row-city-heading, .row-phone-heading, .row-adress-heading{
  width: 132px;
}
.row-city-value, .row-phone-value, .row-adress-value{
  color: #717171;
}
.contact-us-button-row{
  margin-top: 24px;
  width: 122px;
  height: 26px;
  align-self: center;
  background-color: #EDF2EC;
  border: 1px solid #E06733;
  border-radius: 5px;
  font-family: 'Inika', serif;
  font-size: 10px;
  font-weight: bold;
  color: #717171;
  cursor: pointer;
}
.contact-us-button-row:hover{
  background-color:#E06733;
  color: #ffffff;
}