* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth; 
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  /* max-width: 1440px; "Ширина контента 1440рх не должна изменяться при изменении размера окна браузера." */
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
}
body::after{
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
  content:url(../assets/inst-hover.svg) url(../assets/fb-hover.svg) url(../assets/tw-hover.svg) url(../assets/pinterest-hover.svg);
}
.container{
  max-width: 1222px;
  margin: 0 auto;
  width: 100%;
}
.header, .section-welcome, .section-service, .section-contact-us{
  background-color: #EDF2EC;
}
.section-about-us, .section-prices, .section-footer{
  background-color: #ffffff;
}
.section{
  padding: 0 110px;
  display: flex;
  flex-direction: row;
}

/* Header section */

.header-container {
  height: 134px;
  font-family: 'Inika', serif;
  font-size: 16px;
  padding-top: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.nav {
  height: 50px;
  width: 492px;
}
.header-logo{
  position: relative;
  z-index: 1;
}
.header-logo a{
  text-decoration: none;
}
.header-logo a:visited{
  color: #000000;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  max-width: 491px;
  width: 100%;
}
.nav-item {
  list-style: none;
}
.nav-item a{
  color: #010201;
  text-decoration: none;
  text-decoration-color: transparent;
  transition: 0.5s;
}
.nav-item a:hover{
  text-decoration: underline;
}
.nav-item.selected a{
  color: #E06733;
  cursor: default;
}
.nav-item.selected a:hover{
  text-decoration: none;
}
.toggle-box{
  position: relative;
  z-index: 1;
  margin-top: -1px;
  width: 40px;
  height: 26px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.toggle-line{
  height: 2px;
  background: #717171;
  column-gap: 3px;
  transition: 0.5s;
}

/* Welcome section */

.container-welcome{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 532px;
  align-items: center;
}
.section-welcome-heading{
  margin-top: 5px;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}
.section-welcome-heading .colored{
  color: #499A18;
}
.section-welcome-image{
  background-image: url('../assets/leafs.png');
  background-repeat: no-repeat;
  width: 462px;
  height: 424px;
  margin-left: -10px;
}
.section-welcome-text {
  max-width: 549px;
}
.section-welcome-description{
  color: #636060;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 48px;
  margin-top: 42px;
}
.welcome-button {
  padding: 0 26px;
  border-radius: 10px;
  font-size: 16px;
  border: 2px solid #E06733;
  height: 44px;
  cursor: pointer;
  background-color: #EDF2EC;
}
.welcome-button:hover{
  color: #ffffff;
  background-color: #E06733;
  transition: .2s;
}

/* About section */

.container-about-us{
  min-height: 666px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section-about-us-heading{
  font-family: 'Inika', serif;
  font-size: 40px;
  font-weight: normal;
  color: #499A18;
  max-width: 463px;
  margin-bottom: 40px;
  line-height: 50px;
}
.section-about-us-heading .colored{
  color: #E06733;
}
.section-about-us-description{
  color: #636060;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
}
.section-about-us-text{
  max-width: 605px;
}
.section-about-us-image{
  background-image: url('../assets/houseplant-1.png');
  background-repeat: no-repeat;
  background-position-x: right;
  width: 100%;
  height: 479px;
}

/* Service section */

.container-service {
  display: flex;
  flex-direction: column;
  padding-bottom: 66px;
}
.section-service-upper-content{
  max-width: 1007px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 80px;
  flex-wrap: wrap;
}
.service-upper-content-heading{
  font-family: 'Inika', serif;
  font-size: 40px;
  font-weight: normal;
  color: #499A18;
  max-width: 306px;
  margin: 0 142px 0 0;
  line-height: 52px;
}
.service-upper-content-buttons{
  width: 559px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}
.service-button{
  font-family: 'Inika', serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 26px;
  color: #E06733;
  width: 161px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: #EDF2EC;
  cursor: pointer;
  padding-right: 10px;
  margin-right: 5px;
}
.service-button:last-child{
  margin-right: 0;
}
.service-button:hover{
  color: #ffffff;
  background-color: #E06733;
  transition: .2s;
}
.service-item{
  width: 330px;
  margin-bottom: 55px;
}
.service-item-image{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 350px;
  background-size: cover;
  background-position-y: center;
}
.service-item-image.image-1{
  background-image: url(../assets/img-1.png);
}
.service-item-image.image-2{
  background-image: url(../assets/img-2.png);
}
.service-item-image.image-3{
  background-image: url(../assets/img-3-1440.png);
}
.service-item-image.image-4{
  background-image: url(../assets/img-4.png);
}
.service-item-image.image-5{
  background-image: url(../assets/img-5.png);
}
.service-item-image.image-6{
  background-image: url(../assets/img-6.png);
}
.service-item-heading{
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #E06733;
  margin: 8px 0;
}
.service-item-description{
  border: 1px solid #E3E1D5;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
  height: 100px;
}
.service-item-description-text{
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}
.section-service-lower-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

/* Price section */

.container-prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 558px;
  padding-top: 40px;
}
.section-prices-heading{
  font-size: 40px;
  line-height: 48px;
  margin-top: 0;
}
.section-prices-heading .colored{
  color: #499A18;
}
.section-prices-right-block{
  text-align: right;
}
.section-prices-right-block .section-prices-heading{
  max-width: 452px;
  line-height: 50px;
  margin-bottom: 38px;
}
.section-prices-left-block .section-prices-heading{
  margin-bottom: 60px;
}
.section-prices-image{
  background-image: url('../assets/leafs-2.png');
  background-position: right;
  background-repeat: no-repeat;
  min-width: 152px;
  height: 175px;
  margin-right: -10px;
}
.contact-us-button{
  font-family: 'Inika', serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  color: #E06733;
  width: 162px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  margin-bottom: 39px;
}
.contact-us-button:hover{
  color: #ffffff;
  background-color: #E06733;
  transition: .2s;
}

/* Accordion */

.section-prices-accordeon{
  max-width: 332px;
  padding: 0 40px 30px 40px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  margin-bottom: 40px;
}
#accordion input {
	display: none;
}
#accordion label {
	background-color: #EDF2EC;
	border-radius: 20px;
	cursor: pointer;
	display: block;
	margin-top: 31px;
	padding: 16px 40px;
	z-index: 20;
  font-weight: bold;
  font-size: 20px;
  line-height: 19px;
  transition: border-bottom-right-radius 0.1s, border-bottom-left-radius 0.1s;
  transition-delay: 0.2s;
}
#accordion > div:last-child > label{
	margin-bottom: 0px;
}
#accordion label:before {
  content: url(../assets/accordion_btn.svg);
  width: 16px;
  height: 16px;
  margin-top: 1.5px;
  float: right;
}
#accordion label:hover {
	background: #D6E7D2;
  transition: background .2s;
}
/* #accordion input:checked + label {
	background: #D6E7D2;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	margin-bottom: 0;
  transition: border-bottom-right-radius 0.1s, border-bottom-left-radius 0.1s;
} */
#accordion .option-data {
	background: #D6E7D2;
	height:0px;
	overflow:hidden;
	z-index:10;
  border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
  transition: height 0.2s linear;
}
#accordion .option-data button {
  margin: 0 40px;
}
/* #accordion input:checked ~ .option-data {
	height: 116px;
	margin-bottom: 32px;
  transition: height 0.2s;
  transition-delay: 0.2s;
} */

#accordion > div:nth-child(3) > .option-data{
  margin-bottom: 0;
}

/* #accordion input:checked + label:before {
  content: url(../assets/accordion_btn-2.svg);
} */

.option-description{
  margin: 0 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-top: 0.5px solid #AEA1A1;
  font-size: 10px;
  line-height: 10px;
  color: #717171;
}
.option-price{
  margin: 0 40px;
  padding: 6px 0 12px 0;
}
.option-price .colored{
  font-size: 16px;
  font-weight: bold;
  color: #E06733;
}
.order-button{
  width: 86px;
  height: 25px;
  background-color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: #717171;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.order-button:hover{
  background-color: #717171;
  color: #FFFFFF;
}

/* Contact us section */

.container-contact-us{
  display: flex;
  min-height: 550px;
  justify-content: space-between;
}
.section-heading-contact-us{
  font-family: 'Inika', serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
  color: #499A18;
  margin-top: 60px;
  order: 2;
}
.section-contact-us-image{
  width: 445px;
  height: 497px;
  background-image: url(../assets/contact_woman.png);
  background-repeat: no-repeat;
  order: 1;
  align-self: end;
}
.section-contact-us-right-block{
  order: 3;
}

/* Dropdown menu */

.city-select{
  width: 450px;
  height: 50px;
  margin-top: 147px;
  background-color: #D6E7D2;
  color: #717171;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-align: left;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5px 35px 5px 20px;
  cursor: pointer;
}
.city-select:before {
  content: url(../assets/accordion_btn-2.svg);
  transform: rotate(180deg);
  float: right;
}
.city-select:hover{
  background-color: #C1E698;
  transition: 0.5s;
}
.dropdown-content{
  display: none;
}

/* Selected adress */

.contact-us-adress{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 47px;
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 17px 33px 32px 33px;
  font-size: 16px;
  line-height: 40px;
}
.contact-us-row{
  display: flex;
}
.row-city-heading, .row-phone-heading, .row-adress-heading{
  width: 132px;
}
.row-city-value, .row-phone-value, .row-adress-value{
  color: #717171;
}
.contact-us-button-row{
  margin-top: 24px;
  width: 122px;
  height: 26px;
  align-self: center;
  background-color: #EDF2EC;
  border: 1px solid #E06733;
  border-radius: 5px;
  font-family: 'Inika', serif;
  font-size: 10px;
  font-weight: bold;
  color: #717171;
  cursor: pointer;
}
.contact-us-button-row:hover{
  background-color:#E06733;
  color: #ffffff;
}

/* Footer */

.footer-container{
  height: 130px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  font-size: 20px;
}
.footer-data-left{
  width: 169px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.footer-data-right{
  width: 188px;
  height: 32px;
}
.footer-social-list{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}
.social-item {
  list-style: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
}
.social-item.instagram a{
  content: url(../assets/inst.svg);
  transform: scale(1);
  transition: 0.5s;
}
.social-item.instagram a:hover{
  content: url(../assets/inst-hover.svg);
  transform: scale(1.3);
  transition: 0.5s;
}
.social-item.facebook a{
  content: url(../assets/fb.svg);
  transform: scale(1);
  transition: 0.5s;
}
.social-item.facebook a:hover{
  content: url(../assets/fb-hover.svg);
  transform: scale(1.3);
  transition: 0.5s;
}
.social-item.twitter a{
  content: url(../assets/tw.svg);
  transform: scale(1);
  transition: 0.5s;
}
.social-item.twitter a:hover{
  content: url(../assets/tw-hover.svg);
  transform: scale(1.3);
  transition: 0.5s;
}
.social-item.pinterest a{
  content: url(../assets/pinterest.svg);
  transform: scale(1);
  transition: 0.5s;
}
.social-item.pinterest a:hover{
  content: url(../assets/pinterest-hover.svg);
  transform: scale(1.3);
  transition: 0.5s;
}
.footer-data-github-link > a, .school-link{
  text-decoration: none;
  text-decoration-color: transparent;
  transition: 0.5s;
}
.footer-data-github-link a:hover, .school-link:hover{
  text-decoration: underline;
}
.footer-data-github-link a:visited, .school-link:visited{
  color: #000000;
}

@media (max-width: 1438px) {
  .section {
    padding: 0px 50px;
  }
  .container {
    max-width: 668px;
  }
  /* Header section */
  .header-container {
    padding-top: 35px;
    height: 117px;
  }
  .nav {
    height: 47px;
  }
  /* Welcome section */
  .container-welcome {
    min-height: 420px;
    align-items: flex-start;
  }
  .section-welcome-text {
    max-width: 346px;
    order: 0;
  }
  .section-welcome-heading {
    font-size: 35px;
    margin-top: 40px;
  }
  .section-welcome-description {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 35px;
    margin-top: 32px;
    margin-left: 5px;
  }
  .section-welcome-image {
    width: 280px;
    height: 254px;
    background-size: cover;
    margin-left: 0;
    margin-top: 40px;
    order: 1;
  }
  /* About us section */
  .container-about-us {
    min-height: 783px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .section-about-us-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .section-about-us-heading{
    font-size: 35px;
    text-align: center;
    line-height: 45.61px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .section-about-us-text {
    max-width: none;
  }
  .section-about-us-image{
    width: 250px;
    height: 258px;
    background-size: contain;
    margin-top: 50px;
  }
  /* Service section */
  .service-item-image.image-3{
    background-image: url(../assets/img-3.png);
  }
  .container-service {
    padding-bottom: 32px;
  }
  .section-service-upper-content {
    margin-top: 60px;
    margin-bottom: 0;
  }
  .service-upper-content-heading {
    font-size: 35px;
    line-height: 46px;
    margin: 0;
  }
  .service-upper-content-buttons {
    margin-top: 42px;
    margin-bottom: 40px;
  }
  .service-item {
    width: 280px;
    margin-bottom: 38px;
  }
  .service-item-description-text {
    padding-left: 38px;
    padding-right: 38px;
    margin-top: 11px;
  }
  .service-item:nth-child(2n) .service-item-description-text {
    margin-top: 14px;
  }
  /* Price section */
  .container-prices{
    margin-bottom: 27px;
  }
  .section-prices-heading {
    font-size: 35px;
    line-height: 43px;
    padding-left: 15px;
  }
  .section-prices-right-block > .section-prices-heading {
    font-size: 25px;
    line-height: 35px;
    margin-top: 100px;
    padding-left: 10px;
    margin-bottom: 28px;
  }
  .section-prices-right-block {
    max-width: 296px;
  }
  .section-prices-left-block .section-prices-heading {
    margin-bottom: 56px;
  }
  .section-prices-accordeon {
    padding: 2px 40px 32px 40px;
  }
  .section-prices-image {
    margin-top: -5px;
  }
  /* Contact us section */
  .container-contact-us {
    flex-direction: column;
    align-items: center;
    min-height: 739px;
  }
  .section-heading-contact-us {
    order: 1;
    margin-top: 40px;
  }
  .section-contact-us-right-block {
    order: 2;
  }
  .section-contact-us-image {
    order: 3;
    align-self: center;
    width: 200px;
    height: 249px;
    background-size: contain;
    margin-left: 20px;
    margin-top: 249px;
  }
  .city-select {
    margin-top: 66px;
  }
  /* Footer */
  .footer-container {
    height: 181px;
    flex-direction: column;
    padding-top: 33px;
    padding-bottom: 27px;
    font-size: 20px;
  }
  .footer-data-left {
    margin-right: 0;
    width: 175px;
  }
  .footer-data-center {
    margin-top: -10px;
  }
  .footer-data-github-link{
    margin-right: 4px;
  }
}
@media (max-width: 766px) {
  .body.opened{
    overflow: hidden;
  }
  .section {
    padding: 0px 25px;
  }
  .container {
    max-width: 330px;
  }
  /* Header */
  .nav{
    position: absolute;
    left: -100%;
    top: 96px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    border-top: 2px solid #539f25;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
  }
  .nav.opened {
    left: 0;
    opacity: 1;
  }
  .nav-list {
    padding: 0;
    margin: 126px 0;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    font-size: 25px;
  }
  .header-container {
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
  }
  .toggle-box{
    display: flex;
  }
  .toggle-box.opened .line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle-box.opened .line-2 {
    opacity: 0;
  }
  .toggle-box.opened .line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .toggle-box.opened .line-4 {
    opacity: 0;
  }
  /* Welcome section */
  .container-welcome{
    min-height: 300px;
  }
  .section-welcome-image{
    display: none;
  }
  .section-welcome-heading{
    font-size: 25px;
    line-height: 35px;
    margin-top: 26px;
    margin-bottom: 0;
  }
  .section-welcome-description {
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 0;
  }
  .welcome-button {
    padding: 0 16px;
    width: 100px;
    font-size: 10px;
    height: 34px;
    margin-top: 26px;
    margin-bottom: 24px;
  }
  /* About us section */
  .container-about-us {
    min-height: 516px;
  }
  .section-about-us-heading {
    font-size: 25px;
    line-height: 32.57px;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .section-about-us-description {
    font-size: 15px;
    line-height: 25px;
  }
  .section-about-us-image {
    width: 150px;
    height: 155px;
    margin-top: -15px;
    margin-bottom: 25px;
  }
  /* Service section */
  .section-service-upper-content {
    margin-top: 30px;
  }
  .service-upper-content-heading {
    font-size: 25px;
    line-height: 33px;
    max-width: 187px;
  }
  .service-upper-content-buttons {
    justify-content: flex-start;
  }
  .service-upper-content-buttons {
    margin-top: 38px;
    flex-wrap: wrap;
  }
  .service-button {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 121px;
    height: 35px;
    font-size: 15px;
    padding-left: 10px;
  }
  .service-upper-content-buttons {
    margin-bottom: 29px;
  }
  .section-service-lower-content {
    justify-content: center;
  }
  .service-item {
    margin-bottom: 34px;
  }
  .service-item:last-child {
    margin-bottom: -5px;
  }
  /* Price section */
  .container-prices {
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;
    min-height: 512px;
  }
  .section-prices-left-block .section-prices-heading {
    margin-bottom: 29px;
    font-size: 25px;
    padding-left: 0;
    text-align: center;
  }
  .section-prices-image{
    display: none;
  }
  .section-prices-right-block {
    text-align: center;
  }
  #accordion label {
    margin-top: 14px;
    padding: 16px 40px 16px 29px;
    font-size: 15px;
    line-height: 20px;
    height: 49px;
    width: 180px;
  }
  #accordion > div:nth-child(1) > label{
    margin-top: 29px;
  }
  .section-prices-accordeon {
    max-width: 224px;
    margin-bottom: 0;
  }
  .section-prices-accordeon {
    padding: 0 22px 29px 22px;
  }
  .section-prices-right-block > .section-prices-heading {
    font-size: 20px;
    line-height: 35px;
    max-width: 230px;
    margin-top: 20px;
    padding-left: 0;
    margin-bottom: 20px;
  }
  .contact-us-button {
    font-size: 15px;
    width: 121px;
    height: 35px;
  }
  /* Contact-us section */
  .container-contact-us {
    min-height: 445px;
  }
  .section-heading-contact-us {
    font-size: 25px;
    margin-top: 15px;
    margin-left: -5px;
    margin-bottom: 0;
  }
  .city-select {
    width: 300px;
    margin-top: 20px;
    padding: 5px 22px 5px 18px;
  }
  .section-contact-us-image {
    width: 100px;
    height: 124px;
    margin-top: 80px;
    margin-left: -5px;
  }
  /* Footer */
  .footer-container {
    height: 146px;
    padding-top: 22px;
    padding-bottom: 15px;
  }
  .footer-data-center {
    margin-top: 5px;
  }
  .footer-data-github-link{
    margin-right: 4px;
  }
}
@media (max-width: 378px) {
  .header-logo {
    margin-left: 25px;
  }
  .toggle-box {
    margin-right: 25px;
  }
}